<!--
  Generated template for the CameraPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
  	  <ion-icon name="menu"></ion-icon>
  	</button>
    <ion-title>Camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button *ngIf="!imgOne" id="upload-btn" ion-button round (click)="takePicture()">
		<ion-icon class="upload-icon" name="camera"></ion-icon>
		 Take photo of label
	</button>

	<div class="row">
      <img *ngIf="imgOne" id="imageOne" class="upload-img" align="middle" [src]="imgOne" (click)="takePicture()">
    </div>

	<button ion-button full color="secondary" (click)="uploadImage()" [disabled]="!imgOne">
		Submit Photos
	</button>

</ion-content>
